<div class="container py-12">
    <h2 class="text-center pb-4">Gallery</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1634302086887-13b5585a8831?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="https://images.unsplash.com/photo-1582771498000-8ad44e6c84db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1517832606299-7ae9b720a186?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />

            <img src="https://images.unsplash.com/photo-1596728325488-58c87691e9af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1621605815971-fbc98d665033?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="https://images.unsplash.com/photo-1599351431613-18ef1fdd27e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>
</div>