@*<div class="container py-12">
    <h2 class="text-center pb-4">Gallery</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1634302086887-13b5585a8831?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="https://images.unsplash.com/photo-1582771498000-8ad44e6c84db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1517832606299-7ae9b720a186?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />

            <img src="https://images.unsplash.com/photo-1596728325488-58c87691e9af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1621605815971-fbc98d665033?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="https://images.unsplash.com/photo-1599351431613-18ef1fdd27e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>
</div>*@

<div class="container py-12">
   
    <div class="px-wide">



        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner img-fluid">
                <div class="carousel-item active">
                    <img src="Images/photo-1596728325488-58c87691e9af.jpeg" class="d-block w-100" alt="customr getting a haircut">
                </div>
                <div class="carousel-item img-fluid">
                    <img src="Images/photo-1621605815971-fbc98d665033.jpeg" class="d-block w-100" alt="Barber work toolkit">
                </div>
                <div class="carousel-item img-fluid">
                    <img src="Images/photo-1532710093739-9470acff878f.jpeg" class="d-block w-100" alt="Customr getting ready for a beard trim">
                </div>
                <div class="carousel-item img-fluid">
                    <img src="Images/photo-1512690459411-b9245aed614b.jpeg" class="d-block w-100" alt="A chair in the shop">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    </div>
