<div class="container">


    <div class="row  gap-1 py-12">

        <div class="col p-0">
            <h1 class="display-3 p-0">Smart Haircut For Mens! Be your best you.</h1>
        </div>

        <div class="col p-0">
            <p class="text-secondary pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>

            <div class=" d-flex gap-5">
                <div>
                    <div class="d-flex gap-1 ">
                        <hr class="w-25 border border-2" />
                        <h2>Open</h2>
                    </div>
                    <div>
                        <h3>8:00AM</h3>
                    </div>
                </div>

                <div class="text-secondary">
                    <div class="d-flex gap-1">
                        <hr class="w-25 border border-2" />
                        <h2>Close</h2>
                    </div>
                    <div>
                        <h3>21:30PM</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class=" d-flex gap-3 ">
            <button class="btn btn-warning text-white">Book Now</button>
            <button class="btn btn-outline-warning text-white">View All Services</button>
        </div>

    </div>
    <div class="row w-75 m-auto pb-4 opacity-50">
        <div class="col p-0">

            <img class="img-fluid rounded mx-auto d-block" src="https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Barber attending a customr" />
        </div>
    </div>




</div>