@page
@model BarberWeb.Pages.FAQsModel
@{
    ViewData["Title"] = "FAQs";
}

<!--Section: FAQ-->
<section class="container py-12">
    <h3 class="text-center mb-4 pb-2 text-warning fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="far fa-paper-plane text-warning pe-2"></i> How can I find a near me shop?
            </h6>
            <p>
                <strong><u>We're always near you'!</u></strong> You can find us on our main app or on apps like Barberly, theCut, or Setmore to find a shop near you. You can search by location and services, or barbers availability. You can also see the profiles and portfolios of the barbers and read reviews from other customers.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="fas fa-pen-alt text-warning pe-2"></i> How can I book an appointment?
            </h6>
            <p>
                <strong><u>It's easier than you think'!</u></strong> You can book an appointment with our app
                by selecting the date and time that suits you best. You can also choose the service you want, such as haircut,
                shave, beard trim, etc. You will receive a confirmation email or text message with the details of your booking, depending on your subscription.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="fas fa-user text-warning pe-2"></i> How can I pay for my service ?
            </h6>
            <p>
                You can pay for your service using our app by choosing your preferred payment method. We accept credit cards,
                debit cards, PayPal, Apple Pay, Google Pay, or cash. You can also tip your barber.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="fas fa-rocket text-warning pe-2"></i> How can I cancel or reschedule my appointment?
            </h6>
            <p>
                You can cancel or reschedule your appointment by logging into your account and accessing your bookings history.
                You should do this as soon as possible, though we don't aapply fees or penalties for missing an appointment.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="fas fa-home text-warning pe-2"></i> How can I leave feedback or rate my barber ?
            </h6>
            <p>
                <strong><u>Thank you!</u>.</strong> You can leave feedback or rate your barber by completing a
                survey or writing a review after your service. You can also give stars to indicate your satisfaction level.
                Your feedback will help other customers find the best barbers and help the barbers improve their skills and services.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-warning">
                <i class="fas fa-book-open text-warning pe-2"></i> How can I benefit from the golden membership subscription?
            </h6>
            <p>
                You can benefit from our loyalty program, the golden membership, by getting discounts.
                We also offer
                rewards points, coupons, vouchers, free services, referrals bonuses, and other incentives for our loyal customers.
            </p>
        </div>
    </div>
</section>
<!--Section: FAQ-->