@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<partial name="_Hero" />

<partial name="_Services" />

<partial name="_Gallery" />

<section class="newsletter py-12 container">
    <div class=" w-75-md m-auto pb-5">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="content">
                    <h2 class="py-2">SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <div class="input-group gap-2 pb-5">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="submit">Subscribe Now</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>