@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container ">


    <div class="row align-items-center gap-2 py-12">

        <div class="col p-0">
            <h1 class="display-4">Smart Haircut For Mens!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class=" d-flex gap-3">
                <button class="btn btn-warning text-white">Book Now</button>
                <button class="btn btn-outline-warning text-white">View All Services</button>
            </div>


        </div>

        <div class="col p-0">
         
            <img class="img-fluid rounded" src="https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Barber attending a customr" />
        </div>
    </div>


    <div class="py-5 d-grid">
        <div class="py-5 text-center">
            <small class="text-uppercase text-primary9 opacity-50 ">Our Services</small>
            <h2>Our Barber Services</h2>
        </div>


        <div class="d-flex gap-3 justify-content-around">
            <div class="card bg-transparent border-0" style="width: 18rem;">
                <img class="img-rounded" src="https://images.unsplash.com/photo-1606333259737-6da197890fa2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="haircut">
                <div class="card-body">
                    <h3 class="card-title text-warning">Mens Haircut</h3>
                    <p class="card-text opacity-50">Full style and cut to suit your face shape, professionally styled.</p>
                </div>
            </div>


            <div class="card bg-transparent border-0" style="width: 18rem;">
                <img class="img-rounded" src="https://images.unsplash.com/photo-1484291150605-0860ed671f04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="haircut">
                <div class="card-body">
                    <h3 class="card-title text-warning">Beard Trim</h3>
                    <p class="card-text opacity-50">Keep your beard in great shape with a bit of extra attention with clippers.</p>
                </div>
            </div>

            <div class="card bg-transparent border-0" style="width: 18rem;">
                <img class="img-rounded" src="https://images.unsplash.com/photo-1590540179916-15643504417f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="haircut">
                <div class="card-body">
                    <h3 class="card-title text-warning">Treatment</h3>
                    <p class="card-text opacity-50">Get full treatment by our professional stylist to keeo your hair healthy.</p>
                </div>
            </div>
        </div>


    </div>
    </div>

