@page
@model BarberWeb.Pages.ServicesModel
@{
    ViewData["Title"] = "Prices";
}

<div class="container">
    <section class="text-center">
        <h4 class="mb-1 pt-5"><strong>Supercharge Your look Today!</strong></h4>
        <div class="btn-group mb-4" role="group" aria-label="Basic example">
            <h3 class="border-b-warning">Start <u class="border-b-warning">NOW!</u></h3>
        </div>
    </section>
    <div class="row gap-2 py-12">
        <div class="col-lg">
            <div class="card">
                <div class="mx-2 card-body">
                    <h5 class="card-title my-2 text-uppercase text-dark">Free</h5>
                    <p class="text-dark mb-2">
                        All the essentials 
                    </p>
                    <p class="h2 fw-bold text-muted">$0<small class="text-muted opacity-50" style="font-size: 18px;">/mo</small></p>
                    <a href="#" class="btn btn-secondary d-block mb-2 mt-3 text-capitalize">Subscribe</a>
                </div>
                <div class="card-footer">
                    <p class="text-uppercase fw-bold text-dark" style="font-size: 12px;">What's included</p>
                    <ol class="list-unstyled mb-0 px-4">
                        <p class="my-3 fw-bold text-dark text-center">
                        </p>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-dark">Booking appointments</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-dark">Canceling or delying appointments</small>
                        </li>
                    </ol>
                </div>
            </div>
        </div>



        <div class="col-lg">
            <div class="card">
                <div class="mx-2 card-body">
                    <h5 class="card-title my-2 text-warning text-uppercase">Golden mempership</h5>
                    <p class="text-muted">
                        Treated like a VIP
                    </p>
                    <p class="h2 fw-bold text-warning">$15<small class="text-muted opacity-50" style="font-size: 18px;">/mo</small></p>
                    <a href="#" class="btn btn-warning d-block mb-2 mt-3 text-capitalize">Subscribe</a>
                </div>
                <div class="card-footer">
                    <p class="text-uppercase fw-bold text-dark" style="font-size: 12px;">What's included</p>
                    <ol class="list-unstyled mb-0 px-4">
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Booking appointments</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Canceling or delying appointments</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Free hairwash</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Free hot drinks</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Priority in busy days and holidays</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Access to the sauna</small>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-check text-success me-3"></i><small class="text-black">Access to the VIP guests room</small>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>